CC100_MID_data_flow_example/CC100_MID_data_flow_example.json
[
    {
        "id": "12eb71589393a548",
        "type": "subflow",
        "name": "Read MID Data (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 380,
                "wires": [
                    {
                        "id": "70201c268dff50f4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 120,
                "wires": [
                    {
                        "id": "137c0bab60bd5da0",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 160,
                "wires": [
                    {
                        "id": "edcbd35898c53120",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 200,
                "wires": [
                    {
                        "id": "24cdfe6f458c5146",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 240,
                "wires": [
                    {
                        "id": "13a5fc3e88a24095",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 280,
                "wires": [
                    {
                        "id": "9ddd724bb6a984d7",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 320,
                "wires": [
                    {
                        "id": "0233f2b936f2f843",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1050,
                "y": 360,
                "wires": [
                    {
                        "id": "77cb80aa38fd1c6a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 400,
                "wires": [
                    {
                        "id": "622e79419a711423",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1090,
                "y": 440,
                "wires": [
                    {
                        "id": "44efcb58434f7ee6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1090,
                "y": 480,
                "wires": [
                    {
                        "id": "7f8feb1209ac7d57",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 520,
                "wires": [
                    {
                        "id": "f0a5b4333d8cd9ec",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1090,
                "y": 560,
                "wires": [
                    {
                        "id": "994658aebc7ec99c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1090,
                "y": 600,
                "wires": [
                    {
                        "id": "80aff1e3320ca23d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1070,
                "y": 640,
                "wires": [
                    {
                        "id": "def753e54c296d66",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1040,
                "y": 680,
                "wires": [
                    {
                        "id": "b083c16835ebd064",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#6EC800",
        "inputLabels": [
            "trigger"
        ],
        "outputLabels": [
            "voltage",
            "frequency",
            "current",
            "effective power",
            "reactive power",
            "apparent power",
            "power factor",
            "effective energy",
            "forward effective energy",
            "reverse effective energy",
            "reactive energy",
            "forward reactive energy",
            "reverse reactive energy",
            "energy day counter",
            "quadrant"
        ],
        "icon": "node-red-contrib-modbus/modbus.png"
    },
    {
        "id": "70201c268dff50f4",
        "type": "modbus-flex-sequencer",
        "z": "12eb71589393a548",
        "name": "",
        "sequences": [
            {
                "name": "voltage",
                "unitid": "1",
                "fc": "FC3",
                "address": "20482",
                "quantity": "6"
            },
            {
                "name": "frequency",
                "unitid": "1",
                "fc": "FC3",
                "address": "20488",
                "quantity": "2"
            },
            {
                "name": "current",
                "unitid": "1",
                "fc": "FC3",
                "address": "20492",
                "quantity": "6"
            },
            {
                "name": "eff_power",
                "unitid": "1",
                "fc": "FC3",
                "address": "20498",
                "quantity": "8"
            },
            {
                "name": "reac_power",
                "unitid": "1",
                "fc": "FC3",
                "address": "20506",
                "quantity": "8"
            },
            {
                "name": "app_power",
                "unitid": "1",
                "fc": "FC3",
                "address": "20514",
                "quantity": "8"
            },
            {
                "name": "power_factor",
                "unitid": "1",
                "fc": "FC3",
                "address": "20522",
                "quantity": "8"
            },
            {
                "name": "eff_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24576",
                "quantity": "12"
            },
            {
                "name": "forw_eff_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24588",
                "quantity": "12"
            },
            {
                "name": "rev_eff_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24600",
                "quantity": "12"
            },
            {
                "name": "reac_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24612",
                "quantity": "12"
            },
            {
                "name": "forw_reac_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24624",
                "quantity": "12"
            },
            {
                "name": "rev_reac_energy",
                "unitid": "1",
                "fc": "FC3",
                "address": "24636",
                "quantity": "12"
            },
            {
                "name": "quadrant",
                "unitid": "1",
                "fc": "FC3",
                "address": "16408",
                "quantity": "3"
            },
            {
                "name": "day_counter",
                "unitid": "1",
                "fc": "FC3",
                "address": "24649",
                "quantity": "2"
            }
        ],
        "server": "f916ff91cd483ac8",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "a2645da7e1954c97"
            ],
            []
        ],
        "info": "if (name === \"voltage_L1\"){\r\n    msg.topic = \"voltage_L1\";\r\n} else {\r\n    msg.topic = \"default\";\r\n}\r\n\r\n"
    },
    {
        "id": "a2645da7e1954c97",
        "type": "switch",
        "z": "12eb71589393a548",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voltage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "frequency",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "current",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eff_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reac_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "app_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "power_factor",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "eff_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "forw_eff_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rev_eff_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reac_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "forw_reac_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rev_reac_energy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "day_counter",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "quadrant",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "137c0bab60bd5da0"
            ],
            [
                "edcbd35898c53120"
            ],
            [
                "24cdfe6f458c5146"
            ],
            [
                "13a5fc3e88a24095"
            ],
            [
                "9ddd724bb6a984d7"
            ],
            [
                "0233f2b936f2f843"
            ],
            [
                "77cb80aa38fd1c6a"
            ],
            [
                "622e79419a711423"
            ],
            [
                "44efcb58434f7ee6"
            ],
            [
                "7f8feb1209ac7d57"
            ],
            [
                "f0a5b4333d8cd9ec"
            ],
            [
                "994658aebc7ec99c"
            ],
            [
                "80aff1e3320ca23d"
            ],
            [
                "def753e54c296d66"
            ],
            [
                "b083c16835ebd064"
            ]
        ]
    },
    {
        "id": "13a5fc3e88a24095",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "effective power",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Effective Power",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Power L1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Power L2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Power L3",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "137c0bab60bd5da0",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "voltage",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Voltage L1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage L2",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Voltage L3",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "24cdfe6f458c5146",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "current",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Current L1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Current L2",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Current L3",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "edcbd35898c53120",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "frequency",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Frequency",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9ddd724bb6a984d7",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "reactive power",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Reactive Power",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Power L1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Power L2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Power L3",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0233f2b936f2f843",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "apparent power",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Apparent Power",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Apparent Power L1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Apparent Power L2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Apparent Power L3",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "77cb80aa38fd1c6a",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "power factor",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Power Factor",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Power Factor L1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Power Factor L2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Power Factor L3",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "622e79419a711423",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "effective energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Effective Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Effective Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a5b4333d8cd9ec",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "reactive energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Reactive Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reactive Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 780,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "44efcb58434f7ee6",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "forward effective energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Forward Effective Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Effective Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Effective Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Effective Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Effective Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Effective Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 810,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8feb1209ac7d57",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "reverse effective energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Reverse Effective Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Effective Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Effective Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Effective Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Effective Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Effective Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "994658aebc7ec99c",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "forward reactive energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Forward Reactive Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Reactive Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Reactive Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Reactive Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Reactive Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Forward Reactive Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 810,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "80aff1e3320ca23d",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "reverse reactive energy",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Total Reverse Reactive Energy",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Reactive Energy T1",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Reactive Energy T2",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Reactive Energy L1",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Reactive Energy L2",
                "offset": 16,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "floatbe",
                "name": "Reverse Reactive Energy L3",
                "offset": 20,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 810,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "def753e54c296d66",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "energy day counter",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "Energy Day Counter",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 790,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b083c16835ebd064",
        "type": "buffer-parser",
        "z": "12eb71589393a548",
        "name": "quadrant",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "Quadrant L1",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "Quadrant L2",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "uint16be",
                "name": "Quadrant L3",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "f916ff91cd483ac8",
        "type": "modbus-client",
        "name": "MID",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.178.68",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttySTM1",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "d105d7094cba265a",
        "type": "tab",
        "label": "MID Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f579b66cbe8c23d4",
        "type": "subflow:12eb71589393a548",
        "z": "d105d7094cba265a",
        "name": "",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "463498c4d5cf23da",
                "7f82f7f007eea4bb",
                "38236fdc0fa54d67"
            ],
            [
                "91187f4ed9845115"
            ],
            [
                "5c056ac3c8a44f75",
                "f9e5be2596625aed",
                "591b44be8aeea56b"
            ],
            [
                "a289d10781c8b151",
                "5843499c348c9366",
                "dcf46db7513b8bca",
                "b867accf34d7def0"
            ],
            [
                "8c3652774283f68d",
                "d76ab5e815da8461",
                "48dbee52bb2e303e",
                "563619911ed8f9bc"
            ],
            [
                "eeed6385671f01fc",
                "ec757363afdccd85",
                "06abec6fa499eeee",
                "9ff80859cdf09596"
            ],
            [
                "771d2506c5af996b",
                "18f6cbc52a12789c",
                "441c9c521055d99e",
                "d8a5b20fb44c70f9"
            ],
            [
                "a9d7e9210ecbe94e",
                "3995d6d1cd495fae",
                "4366288561baf00c",
                "eb8a8730f8c00bd0"
            ],
            [
                "669e68120a725179",
                "95dcb42e1f441085",
                "f523c648ee7c3d70"
            ],
            [
                "76f690a6702e26f9",
                "da2dd19cc0ebbff6",
                "cca1d6490a5e7de1"
            ],
            [
                "c998f07e39b86aa6",
                "f386f44a06c8b10d",
                "7b7d96eeaa35cbe5",
                "dff20639cda804b3"
            ],
            [
                "dd18348c93efc03b",
                "d80c8a83126e6c09",
                "2653b4f1270b2bbf"
            ],
            [
                "87d31d4498a98ea6",
                "0589999aae147cd9",
                "f9840b211cda6508"
            ],
            [],
            [
                "4db28d81c7b27184",
                "5021185ede623297",
                "585c63ad0a12d5a4"
            ]
        ]
    },
    {
        "id": "b798cf4d26ff5783",
        "type": "inject",
        "z": "d105d7094cba265a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "f579b66cbe8c23d4"
            ]
        ]
    },
    {
        "id": "463498c4d5cf23da",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Voltage L1",
        "label": "Voltage",
        "format": "{{payload[\"Voltage L1\"].toFixed(2)}} V",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "7f82f7f007eea4bb",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Voltage L2",
        "label": "Voltage",
        "format": "{{payload[\"Voltage L2\"].toFixed(2)}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "38236fdc0fa54d67",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Voltage L3",
        "label": "Voltage",
        "format": "{{payload[\"Voltage L3\"].toFixed(2)}} V",
        "layout": "row-spread",
        "className": "",
        "x": 1430,
        "y": 140,
        "wires": []
    },
    {
        "id": "91187f4ed9845115",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Frequency",
        "label": "Grid Frequency",
        "format": "<font color={{msg.color}} >{{payload.Frequency.toFixed(2)}} Hz",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "a289d10781c8b151",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Total Effective Power",
        "label": "Effective Power",
        "format": "<font color={{msg.color}} >{{payload[\"Total Effective Power\"].toFixed(3)}} kW",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "5c056ac3c8a44f75",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Current L1",
        "label": "Current",
        "format": "<font color={{msg.color}} >{{payload[\"Current L1\"].toFixed(2)}} A",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "5843499c348c9366",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Effective Power L1",
        "label": "Effective Power",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Power L1\"].toFixed(3)}} kW",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "25ed9a478eb50a41",
        "type": "ui_template",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "name": "Quadrant L1",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "<div class=\"quad_L1\">\n\n<svg width=\"250\" height=\"250\">\n  <circle cx=\"125\" cy=\"125\" r=\"75\" stroke=\"black\" stroke-width=\"1\" fill=\"skyblue\" />\n  <line x1=\"25\" y1=\"125\" x2=\"225\" y2=\"125\" stroke=\"black\" stroke-width=\"2\" />\n  <line x1=\"125\" y1=\"25\" x2=\"125\" y2=\"225\" stroke=\"black\" stroke-width=\"2\" />\n  <text x=\"145\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 1) ? 'red':'black' }}\">I</text>\n  <text x=\"85\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 2) ? 'red':'black' }}\">II</text>\n  <text x=\"75\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 3) ? 'red':'black' }}\">III</text>\n  <text x=\"145\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 4) ? 'red':'black' }}\">IV</text>\n  <text x=\"230\" y=\"130\" fill=\"black\" font-size=\"1em\">P+</text>\n  <text x=\"5\" y=\"130\" fill=\"black\" font-size=\"1em\">P-</text>\n  <text x=\"120\" y=\"20\" fill=\"black\" font-size=\"1em\">Q+</text>\n  <text x=\"120\" y=\"240\" fill=\"black\" font-size=\"1em\">Q-</text>\n</svg>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 870,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e5be2596625aed",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Current L2",
        "label": "Current",
        "format": "<font color={{msg.color}} >{{payload[\"Current L2\"].toFixed(2)}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "591b44be8aeea56b",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "Current L3",
        "label": "Current",
        "format": "<font color={{msg.color}} >{{payload[\"Current L3\"].toFixed(2)}} A",
        "layout": "row-spread",
        "className": "",
        "x": 1430,
        "y": 220,
        "wires": []
    },
    {
        "id": "dcf46db7513b8bca",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Effective Power L2",
        "label": "Effective Power",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Power L2\"].toFixed(3)}} kW",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "b867accf34d7def0",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "Effective Power L3",
        "label": "Effective Power",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Power L3\"].toFixed(3)}} kW",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c3652774283f68d",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Total Reactive Power",
        "label": "Reactive Power",
        "format": "<font color={{msg.color}} >{{payload[\"Total Reactive Power\"].toFixed(3)}} kvar",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "d76ab5e815da8461",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "Reactive Power L1",
        "label": "Reactive Power",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Power L1\"].toFixed(3)}} kvar",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "48dbee52bb2e303e",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "Reactive Power L2",
        "label": "Reactive Power",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Power L2\"].toFixed(3)}} kvar",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "563619911ed8f9bc",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "Reactive Power L3",
        "label": "Reactive Power",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Power L3\"].toFixed(3)}} kvar",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 300,
        "wires": []
    },
    {
        "id": "eeed6385671f01fc",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Total Apparent Power",
        "label": "Apparent Power",
        "format": "<font color={{msg.color}} >{{payload[\"Total Apparent Power\"].toFixed(3)}} kVA",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "ec757363afdccd85",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Apparent Power L1",
        "label": "Apparent Power",
        "format": "<font color={{msg.color}} >{{payload[\"Apparent Power L1\"].toFixed(3)}} kVA",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "06abec6fa499eeee",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Apparent Power L2",
        "label": "Apparent Power",
        "format": "<font color={{msg.color}} >{{payload[\"Apparent Power L2\"].toFixed(3)}} kVA",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "9ff80859cdf09596",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "Apparent Power L3",
        "label": "Apparent Power",
        "format": "<font color={{msg.color}} >{{payload[\"Apparent Power L3\"].toFixed(3)}} kVA",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 340,
        "wires": []
    },
    {
        "id": "771d2506c5af996b",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Total Power Factor",
        "label": "Power Factor",
        "format": "<font color={{msg.color}} >{{payload[\"Total Power Factor\"].toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "18f6cbc52a12789c",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "Power Factor L1",
        "label": "Power Factor",
        "format": "<font color={{msg.color}} >{{payload[\"Power Factor L1\"].toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "441c9c521055d99e",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "Power Factor L2",
        "label": "Power Factor",
        "format": "<font color={{msg.color}} >{{payload[\"Power Factor L2\"].toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "d8a5b20fb44c70f9",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 17,
        "width": 0,
        "height": 0,
        "name": "Power Factor L3",
        "label": "Power Factor",
        "format": "<font color={{msg.color}} >{{payload[\"Power Factor L3\"].toFixed(2)}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 380,
        "wires": []
    },
    {
        "id": "a9d7e9210ecbe94e",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Total Effective Energy",
        "label": "Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Total Effective Energy\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "3995d6d1cd495fae",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "Effective Energy L1",
        "label": "Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Energy L1\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "4366288561baf00c",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "Effective Energy L2",
        "label": "Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Energy L2\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "eb8a8730f8c00bd0",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 18,
        "width": 0,
        "height": 0,
        "name": "Effective Energy L3",
        "label": "Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Effective Energy L3\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 420,
        "wires": []
    },
    {
        "id": "669e68120a725179",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "Forward Effective Energy L1",
        "label": "Forward Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Effective Energy L1\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "95dcb42e1f441085",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "Forward Effective Energy L2",
        "label": "Forward Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Effective Energy L2\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "f523c648ee7c3d70",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 19,
        "width": 0,
        "height": 0,
        "name": "Forward Effective Energy L3",
        "label": "Forward Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Effective Energy L3\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 460,
        "wires": []
    },
    {
        "id": "76f690a6702e26f9",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "Reverse Effective Energy L1",
        "label": "Reverse Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Effective Energy L1\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "da2dd19cc0ebbff6",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "Reverse Effective Energy L2",
        "label": "Reverse Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Effective Energy L2\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "cca1d6490a5e7de1",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "Reverse Effective Energy L3",
        "label": "Reverse Effective Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Effective Energy L3\"].toFixed(3)}} kWh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 500,
        "wires": []
    },
    {
        "id": "c998f07e39b86aa6",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "7e42d08b3968f8f8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Total Reactive Energy",
        "label": "Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Total Reactive Energy\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 540,
        "wires": []
    },
    {
        "id": "f386f44a06c8b10d",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "Reactive Energy L1",
        "label": "Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Energy L1\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b7d96eeaa35cbe5",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "Reactive Energy L2",
        "label": "Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Energy L2\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "dff20639cda804b3",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 21,
        "width": 0,
        "height": 0,
        "name": "Reactive Energy L3",
        "label": "Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reactive Energy L3\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd18348c93efc03b",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "Forward Reactive Energy L1",
        "label": "Forward Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Reactive Energy L1\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "d80c8a83126e6c09",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "Forward Reactive Energy L2",
        "label": "Forward Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Reactive Energy L2\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "2653b4f1270b2bbf",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 22,
        "width": 0,
        "height": 0,
        "name": "Forward Reactive Energy L3",
        "label": "Forward Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Forward Reactive Energy L3\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 580,
        "wires": []
    },
    {
        "id": "87d31d4498a98ea6",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "c336794c759d5349",
        "order": 23,
        "width": 0,
        "height": 0,
        "name": "Reverse Reactive Energy L1",
        "label": "Reverse Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Reactive Energy L1\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "0589999aae147cd9",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "order": 23,
        "width": 0,
        "height": 0,
        "name": "Reverse Reactive Energy L2",
        "label": "Reverse Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Reactive Energy L2\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 620,
        "wires": []
    },
    {
        "id": "f9840b211cda6508",
        "type": "ui_text",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "order": 23,
        "width": 0,
        "height": 0,
        "name": "Reverse Reactive Energy L3",
        "label": "Reverse Reactive Energy",
        "format": "<font color={{msg.color}} >{{payload[\"Reverse Reactive Energy L3\"].toFixed(3)}} kvarh",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 620,
        "wires": []
    },
    {
        "id": "4db28d81c7b27184",
        "type": "function",
        "z": "d105d7094cba265a",
        "name": "Extract Quadrant L1",
        "func": "msg.payload = msg.payload[\"Quadrant L1\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 660,
        "wires": [
            [
                "25ed9a478eb50a41"
            ]
        ]
    },
    {
        "id": "115542e6b131ef39",
        "type": "ui_template",
        "z": "d105d7094cba265a",
        "group": "16387a8bbfb992f8",
        "name": "Quadrant L2",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "<div class=\"quad_L2\">\n\n<svg width=\"250\" height=\"250\">\n  <circle cx=\"125\" cy=\"125\" r=\"75\" stroke=\"black\" stroke-width=\"1\" fill=\"skyblue\" />\n  <line x1=\"25\" y1=\"125\" x2=\"225\" y2=\"125\" stroke=\"black\" stroke-width=\"2\" />\n  <line x1=\"125\" y1=\"25\" x2=\"125\" y2=\"225\" stroke=\"black\" stroke-width=\"2\" />\n  <text x=\"145\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 1) ? 'red':'black' }}\">I</text>\n  <text x=\"85\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 2) ? 'red':'black' }}\">II</text>\n  <text x=\"75\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 3) ? 'red':'black' }}\">III</text>\n  <text x=\"145\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 4) ? 'red':'black' }}\">IV</text>\n  <text x=\"230\" y=\"130\" fill=\"black\" font-size=\"1em\">P+</text>\n  <text x=\"5\" y=\"130\" fill=\"black\" font-size=\"1em\">P-</text>\n  <text x=\"120\" y=\"20\" fill=\"black\" font-size=\"1em\">Q+</text>\n  <text x=\"120\" y=\"240\" fill=\"black\" font-size=\"1em\">Q-</text>\n</svg>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "4e0f3b162db45cf0",
        "type": "ui_template",
        "z": "d105d7094cba265a",
        "group": "a5d4bd85b80e239c",
        "name": "Quadrant L3",
        "order": 2,
        "width": 6,
        "height": 5,
        "format": "<div class=\"quad_L3\">\n\n<svg width=\"250\" height=\"250\">\n  <circle cx=\"125\" cy=\"125\" r=\"75\" stroke=\"black\" stroke-width=\"1\" fill=\"skyblue\" />\n  <line x1=\"25\" y1=\"125\" x2=\"225\" y2=\"125\" stroke=\"black\" stroke-width=\"2\" />\n  <line x1=\"125\" y1=\"25\" x2=\"125\" y2=\"225\" stroke=\"black\" stroke-width=\"2\" />\n  <text x=\"145\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 1) ? 'red':'black' }}\">I</text>\n  <text x=\"85\" y=\"110\" font-size=\"2em\" style=\"fill: {{(msg.payload === 2) ? 'red':'black' }}\">II</text>\n  <text x=\"75\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 3) ? 'red':'black' }}\">III</text>\n  <text x=\"145\" y=\"160\" font-size=\"2em\" style=\"fill: {{(msg.payload === 4) ? 'red':'black' }}\">IV</text>\n  <text x=\"230\" y=\"130\" fill=\"black\" font-size=\"1em\">P+</text>\n  <text x=\"5\" y=\"130\" fill=\"black\" font-size=\"1em\">P-</text>\n  <text x=\"120\" y=\"20\" fill=\"black\" font-size=\"1em\">Q+</text>\n  <text x=\"120\" y=\"240\" fill=\"black\" font-size=\"1em\">Q-</text>\n</svg>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5021185ede623297",
        "type": "function",
        "z": "d105d7094cba265a",
        "name": "Extract Quadrant L2",
        "func": "msg.payload = msg.payload[\"Quadrant L2\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "115542e6b131ef39"
            ]
        ]
    },
    {
        "id": "585c63ad0a12d5a4",
        "type": "function",
        "z": "d105d7094cba265a",
        "name": "Extract Quadrant L3",
        "func": "msg.payload = msg.payload[\"Quadrant L3\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 660,
        "wires": [
            [
                "4e0f3b162db45cf0"
            ]
        ]
    },
    {
        "id": "5d5924c80689724a",
        "type": "comment",
        "z": "d105d7094cba265a",
        "name": "Total",
        "info": "",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a6a07f78f54b3e1",
        "type": "comment",
        "z": "d105d7094cba265a",
        "name": "Phase L1",
        "info": "",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "a666693e08680e9a",
        "type": "comment",
        "z": "d105d7094cba265a",
        "name": "Phase L2",
        "info": "",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "9bf05084acebf5c3",
        "type": "comment",
        "z": "d105d7094cba265a",
        "name": "Phase L3",
        "info": "",
        "x": 1420,
        "y": 80,
        "wires": []
    },
    {
        "id": "58e7a23239ec523e",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "9884d5509b38cc87",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "874e36abd5bd2636",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "8523493b0de515de",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd2ce3b036df219c",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "57d3b57d45551fb3",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3fc0ff348b0a7708",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "af383b30646c81ae",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3831be5b0e1514e",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5344bd492c9113a4",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "c336794c759d5349",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "2fb1ee678bc8f355",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "b0e4a73a4807822c",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e29605eff8aa333",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "63f0e2bc5a414484",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "dfab94865cbc9f5e",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5b6f650f2d67fd8",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "288a487d880726a6",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f482359bb24d9c07",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "34ee2a601a093f11",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0d4ae1c3ce52a7fa",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "16387a8bbfb992f8",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7326c373261c942",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "16ddfd9e14bba4e9",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a6fe978762d8135",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "137c5f36fc09b479",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "47e5acf1c298462a",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d65490edef41e12a",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b70f26611e80bbba",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed397a3e1bed63dc",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "3bb846953ddb7cad",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1669e02193eda3d",
        "type": "ui_spacer",
        "z": "d105d7094cba265a",
        "name": "spacer",
        "group": "a5d4bd85b80e239c",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "c336794c759d5349",
        "type": "ui_group",
        "name": "Phase L1",
        "tab": "15a58c0ccb83e825",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "16387a8bbfb992f8",
        "type": "ui_group",
        "name": "Phase L2",
        "tab": "15a58c0ccb83e825",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d4bd85b80e239c",
        "type": "ui_group",
        "name": "Phase L3",
        "tab": "15a58c0ccb83e825",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e42d08b3968f8f8",
        "type": "ui_group",
        "name": "Total",
        "tab": "15a58c0ccb83e825",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "15a58c0ccb83e825",
        "type": "ui_tab",
        "name": "MID Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]